h1{
	color: rgba(0, 255, 0, 1);
	font-family: consolas;
	text-align: center;
}

h2 {
	color: rgba(0, 255, 0, 1);
	font-family: consolas;
}

hr {
	border-color: rgba(0, 255, 0, 1);
}

p {
	color: rgba(0, 255, 0, 1);
	font-family: consolas;
}

a {
	color: rgba(0, 255, 0, 1);
	font-family: consolas;
	font-size: 24px;
	margin: 40px;
}

#pageTitle {
	position = "fixed";
}

#titleDivider {
	border-width: 4px;
}

#content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#menu_content {
	text-align: center;
}

#navigation {
	text-align: center;
	background-color: rgba(0, 255, 0, 1);
	margin: 20px;
}

.entry {
	background-color: rgba(150, 250, 150, 0.05);
	padding: 12px;
	margin-bottom: 20px;
}

.navigation {
	color: rgba(0, 0, 0, 1);
}